*{
    margin: 0;
    padding: 0;
}

.navbar{
    overflow: auto;
    
}


nav{
width: 100%;
height: 80px;
background-color: black;
line-height: 80px;
margin-bottom: 0px;

    


}



nav ul {
    float: left;
    margin-left: 30px;
}

nav .out {
    float: right;
    margin-left: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-family: Arial, Verdana, sans-serif;

    

}





nav ul li i {
    margin-right: 5px;
}
body{
    background-image: unset;
    background-size: unset;
    background-repeat:unset
     ;
  


}



nav a input{
    float: right;
    color: #000;
    
    font-size: 15px;
    padding: 10px;
   
    margin-top: 20px;
    margin-right: 15px;
   
    width: 150px;
    
  
    
   
     
    transition: all .4s;
   border-radius: 5px;
    
}



nav a .logine{
    background: yellow;
    margin-right: 0px;
    color: black;
    border: 1px solid yellow ;
    
}
nav a .logine:hover{
    background: blue;
    margin-right: 0px;
    color: white;
    border: 1px solid blue ;
    
}


nav a :hover{
    background: #1E90FF;
    color: white;

}

nav a .rege{

margin-right: 2px;

background: white;
color: black;



}
nav a .rege:hover{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    
}


nav ul li a {
    text-decoration: none;
    color: white; 
    padding: 20px;

}

nav ul li a.active{
    border-bottom: 2px solid white;
    color: white;
}

nav ul li a.icon{
    display: none;

}

nav ul a:hover{
    color: gray;

}
