{{ define "d_cats" }}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard - Catégories</title>
    <meta name="description" content="MadinaTIC Admin page to see categories">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/static/img/logo.png">
    <link rel="shortcut icon" href="/static/img/logo.png">

    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="/static/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static//css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    

                    <li class="menu-title">Gestion des rapports</li><!-- /.menu-title -->

                    
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Rapports</a>
                        <ul class="sub-menu children dropdown-menu">                            
                            <li><i class="fa fa-puzzle-piece"></i><a href="/dashboard/reports/pending">Rapports non approuvés</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="/dashboard/reports/accepted">Rapports approuvés</a></li>
                            
                        </ul>
                    </li>       
                        <li class="menu-item active">
                                <a href="/dashboard/cats"> <i class="menu-icon ti-email"></i>Catégories </a>
                        </li>
                    <li class="menu-title">Gestion des comptes</li><!-- /.menu-title -->

                    <li class="menu-item ">
                        <a href="/dashboard/users"> <i class="menu-icon ti-email"></i>Comptes Client </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>comptes autorité</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-line-chart"></i><a href="/dashboard/auth/create">Nouvelle autorité</a></li>
                            <li><i class="menu-icon fa fa-area-chart"></i><a href="/dashboard/auths">Liste des autorités</a></li>
                        </ul>
                    </li>

                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="/static/img/logoo.png" alt="Logo" width="100" height="40"></a>
                    <a class="navbar-brand hidden" href="./"><img src="/static/img/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    
                            <div >
                                    <a  href="/settings">Configuration <i class="fa fa-cogs"></i ></a>
                                           
                                    <a  href="/logout">Déconnecter <i class="fa fa-power-off"></i ></a>
                                </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- /#header -->
        <!-- Breadcrumbs-->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li>Gestion des rapports</li>
                                    <li class="active">Catégories</li>
                                </ol>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.breadcrumbs-->
        <!-- Content -->
        <div class="content">
                <div class="card">
                        <div class="card-header">
                            <strong>création d'une nouvelle catégorie</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="/dashboard/cat/create" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {{ .csrfField }}
        
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nom de la catégorie</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="cat" placeholder="catégorie" class="form-control"><small class="form-text text-muted">Nom de la catégorie</small></div>
                                </div>
                                    {{ range .Auths }}
				                    <input type="checkbox" name="auth" value="{{ . }}"> {{ . }}<br><br>
			                        {{ end }}

                                <input class="btn btn-outline-success" type="submit" value="Créer">

                            </form>
                        </div>
                </div>                
                <div class="card-header">
                        <strong class="card-title">Liste des catégories</strong>
                    </div>
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Nom de la catégorie</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ range .Cats }}
                                <tr>
                                    <td class="serial">{{ .I }}</td>
                                    <td>{{ .Name }}
                                        <table>
                                            {{ range .Auths }}
                                            <td style="color:#FBD10D;"> {{ . }} </td>
                                            {{ end }}
                                        </table>
                                    </td>
                                    <td>
                                            <a href="{{ .Link }}"><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#staticModal">Supprimer</button></a>
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div> 
            <!-- Animated -->
            <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticModalLabel">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                   Tu es sur que tu as envie de le supprimer?
                               </p>
                           </div>
                           <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                            <button type="button" class="btn btn-primary">Confirmer</button>
                        </div>
                    </div>
                </div>
           
            <!-- .animated -->
        </div>
        <!-- /.content -->
        <div class="clearfix"></div>
        <!-- Footer -->
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2019 Madina-TIC
                    </div>
                    <div class="col-sm-6 text-right">
                        Designed by MadinaTEAM</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.site-footer -->
    </div>
    <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="/static/l/jquery.min.js"></script>
    <script src="/static/l/popper.min.js"></script>
    <script src="/static/l/bootstrap.min.js"></script>
    <script src="/static/l/jquery.matchHeight.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!--  Chart js -->
    <script src="/static/l/Chart.bundle.min.js"></script>
    <!--Flot Chart-->
    <script src="/static/l/jquery.flot.min.js"></script>
    <script src="/static/l/jquery.flot.spline.min.js"></script>
    <!-- local -->
</body>
</html>


{{ end }}