{{ define "err" }}

<!DOCTYPE html>
<html>

 <head>

  <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/error.css" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="/static/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <title>Erreur</title>

 </head>
   <body>
     <div id="main" class="bar">  
     
      <!--The start of the nav bar-->

      <nav  class="navbar">
      
          {{ if .guest }}  
          <a href="/register"><input class ="logine" name="page" type="button" value="S'inscrire"></a>
          <a href="/login"><input class ="rege" name="page" type="button" value="Se connecter" ></a>
          {{ else }}
           <!--ul hidden with css-->
           <ul class="out"> 
             <li>{{ .username }}</li>
             <li><a href="/settings"><input class ="rege" name="page" type="button" value="Configuration" ></a></li>
             <li><a href="/logout"><input class ="rege" name="page" type="button" value="Se déconnecter" ></a></li>
           </ul>
           {{ end }}
        
            <ul class="nav menu">
            
                <li ><a href="/" ><i class="fas fa-home"></i>Accueil</a></li>                    
                <li><a href="/reports">Les Rapports</a></li>
                <li><a href="/report/create">Créer un Rapport</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="/faq">FAQ</a></li>
              
            </ul>
        
  
  </nav>
  
<div class="error">
    <h2>404 Page Not Found </h2>
    <p>la page que vous avez recherchez n'existe pas ! clicker sur la button ci-dessous pour retourner au page Accueil</p>
    <a href="/"><input class ="acc" name="page" type="button" value="Accueil" ></a>



</div>


<div class="footer">
    <div class="footer-content">
        <div class="footer-section-about">
          
            <img src="/static/img/logo.png" height="100" width="150">
            <h1 style="color: white;">Madina-TIC</h1>
  
        </div>
            <div class="footer-section-links">
              <div class="Mobile-app">             
            </div>
          </div>
  
            
            <div class="reges">
                <ul>
                    <li><i class="fas fa-phone"></i>+213 689 568 021</li>
                    <li><i class="fas fa-envelope"></i>contact@madina-tic.dz</li>
                    <li><i class="fas fa-map-marker-alt"></i>Sidi belabbes</li>
                    
                  </ul>
                
             
  
  
            </div>
            
                
  
    </div>
    <hr/>
    <div class="footer-bottom">
        <div class="cont">
            <p> &copy; Madina-TIC</p>
       <ul>
          <li>Follow us at:</li>
          <li>  <a class="f" href="#"><i class="fab fa-facebook-square"></i></a> </li>
          
         
            <li> <a href="#"><i class="fab fa-twitter-square"></i></a> </li>
           <li>  <a href="#"><i class="fab fa-instagram"></i></a></li>
           <li>  <a href="#"><i class="fab fa-youtube"></i></a></li>
           
           
             
        </ul>
           </div>
    
  
    </div>
    
  </div>
  
     </body>
  
  
  
  </html>

{{ end }}