{{ define "auth" }}
<html>
	<head>
		<title>Authenticate</title>
	</head>
	<link rel="stylesheet" href="/static/css/style.css">
	<body>
		<input type='checkbox' id='form-switch'>
		<form id='login-form' action="/login" method='post'>
  			{{ .csrfField }}
			<input type="text" placeholder="Username"
			name="username" required>
  			<input type="password" placeholder="Password"
			name="password" required>
			<p> {{ .error }} </p>
  			<button type='submit'>Se connecter</button>
  			<label for='form-switch'><span>S'inscrire</span></label>
		</form>
		<form id='register-form' action="/register" method='post'>
			{{ .csrfField }}
  			<input type="text" placeholder="Username"
			name="username" required>
  			<input type="email" placeholder="Email"
			name="email"required>
  			<input type="password" placeholder="Password"
			name="password" required>
  			<input type="password" placeholder="Re Password"
			name="repassword" required>
  			<button type='submit'>S'inscrire</button>
  			<label for='form-switch'>Déja un membre? Se connecter...</label>
		</form>
	</body>
</html>

{{ end }}
