{{ define "login" }}
<html>
	<head>
		<title>Login</title>
	</head>
	<link rel="stylesheet" href="/static/css/style.css">
	<body>
		<form id='login-form' action="/login" method='post'>
  			{{ .csrfField }}
			<input type="text" placeholder="Username"
			name="username" required>
  			<input type="password" placeholder="Password"
			name="password" required>
			<p> {{ .error }} </p>
  			<button type='submit'>Se connecter</button>
  			<a href="/register"><span>S'inscrire</span></a>
		</form>
	</body>
</html>

{{ end }}
