{{ define "settings" }}
<html>
	<head>
		<title>Settings</title>
	</head>
	<link rel="stylesheet" href="/static/css/style.css">
	<body>
        <p> flash: {{ .flash }} </p>
		<form id='register-form' action="/settings" method='post'>
			<p> {{ .csrfField }} </p>

  			<input type="email" value="{{ .Email }}"
			name="email" placeholder="Email" required>
			<p> {{ .EmailErr }} </p>

			<input type="text" value="{{ .Phone }}"
			name="phone" placeholder="Numéro de téléphone" required>
			<p> {{ .PhoneErr }} </p>

  			<input type="password" placeholder="New Password"
			name="password" required>
			<p> {{ .PassErr }} </p>

  			<input type="password" placeholder="Re New Password"
			name="repassword" required>
			<p> {{ .RePassErr }} </p>

            <input type="password" placeholder="Old Password"
			name="oldpassword" required>
			<p> {{ .OldPassErr }} </p>

  			<button type='submit'>Sauvgarder</button>
		</form>
	</body>
</html>

{{ end }}
